
<section class="border-[50px] border-t-[20px] border-white flex justify-center relative">
  <div class="flex flex-col">
    <div class="h-[400px]">
      <div class="MidaFood">
       <img [src]="getImage(news.image_url)" class="h-[600px] w-[1200px] z-[-1]">
      </div>
    </div>
    <div class="">
      <img src="./resources/date.png" alt="" class="Date h-[95px] absolute top-[335px] left-[40px]">
    </div>
    <div class="grid justify-items-end mr-5 mb-5">
      <div class="flex flex-row items-center gap-[5px]">
        <img src="./resources/share.png" class="h-[15px]">
        <a href="" class="text-[16px] font-semibold ">SHARE</a>
      </div>
    </div>
    <div class="content border-t-[1.2px] border-gray-200">
      <p class="text-red-500 text-xl font-bold">{{author.name}}</p>
      <h1 class="font-black text-[32px] text-[#33404E] mb-5 leading-tight">{{news.title}}</h1>
      <p class="mb-5 font-semibold text-xl">{{news.body}}</p>
    <div>
      <a href="" class="custom-underline text-[#33404E] font-black">READ ARTICLE</a>
    </div>
    </div>
    <app-pagination 
  [totalPages]="57" 
  [currentPage]="11" 
  (pageChanged)="onPageChanged($event)"
  class="mt-16">
</app-pagination>

  </div>
</section>
